* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    padding: 20px;
}
.hidden-md {
    display: block;
}

.hidden-lg {
    display: block;
}

.visible-lg {
    display: none;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

main {
    background: rgb(161,135,37);
    background: linear-gradient(135deg, rgba(161,135,37,1) 0%, rgba(0,0,0,1) 81%);
    width: 100%
}

.sidebar {
    float: left;
    height: calc(100vh - 100px);
    width: 80px;
    background: rgba(0, 0, 0, 0.9);
    color: #b3b3b3;
    position: relative;
}

.sidebar a {
    color: #b3b3b3;
    font-size: 18px;
    text-decoration: none;
}

.sidebar .logo-box {
    padding: 15px;
}

.sidebar .small-logo-box {
    width: 50px;
    margin: auto;
}

.sidebar .logo-box .logo {
    width: 131px;
    height: 40px;
}


.sidebar .small-logo {
    height: 50px;
    background: white;
    border-radius: 50%;

}

.sidebar ul {
    list-style-type: none;
    margin-top: 20px;
}

.sidebar li {
    margin-top: 5px;
    border-left: 4px solid transparent;
}

.website-sections li.current-item {
    border-left-color: lightgreen;
}

.website-sections li.current-item a {
    color: white;
    background: rgba(255, 255, 255, 0.05);
}

.sidebar li a {
    display: block;
    padding: 10px 20px;
}

a:hover {
    color: white;
}

.website-sections li a i {
    margin-right: 15px;
    font-size: 24px;
}

.sidebar a span {
    display: inline-block;
}

.sidebar .your-playlists {
    text-align: left;
    font-size: 14px;
    margin: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.sidebar .your-playlists li:first-child {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.sidebar .your-playlists li a {
    line-height: 40px;
    font-size: 14px;
    padding: 0;
}

.sidebar .your-playlists .add-playlist::before {
    content: '+';
    display: block;
    float: left;
    font-size: 30px;
    font-weight: 700;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: black;
    background-color: #b3b3b3;
    margin-right: 10px;
    text-align: center;
}

.sidebar .your-playlists .liked-playlist::before {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    content: '\f004';
    display: block;
    float: left;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: lightblue;
    margin-right: 10px;
    text-align: center;
}

.bottom-sidebar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
}

.cta a {
    display: block;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.profile a {
    display: block;
    padding: 10px 5px 0;
    font-size: 20px;
    color: white;
}

.main-page {
    float: left;
    height: calc(100vh - 100px);
    width: calc(100% - 80px);
    overflow: auto;
    color: transparent;
    color: white;

}

.hamburger-menu i {
    float: right;
    font-size: 28px;
}

nav ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    list-style-type: none;
    text-align: center;
}

nav li {
    position: relative;
    white-space: nowrap;

}

nav .current-item::after {
    content: '';
    display: inline-block;
    width: 50%;
    height: 2px;
    background: lightgreen;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav .current-item a {
    color: white;
}

nav a {
    display: inline-block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 14px;
    padding: 8px 20px;
}

.content {
    color: white;
    font-size: 14px;
}

.content h2 {
    font-size: 30px;
    margin: 30px 0;
}

.content .artists-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content .artists-list-container .card {
    margin: 15px;
    text-align: center;
}

.content .artists-list-container .card a {
    color: white;
    text-decoration: none;
    display: block;
}

.content .artists-list-container .card a:hover {
    transform: scale(1.1);
}

.content .artists-list-container .card img {
    width: 140px;
    margin: auto;
    margin-bottom: 5px;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.05);
}

.content .artists-list-container .card div {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-circle {
    border-radius: 50%;
}

footer {
    height: 100px;
    background-color: rgb(30, 30, 30);
    border-top: 1px solid black;
}

@media screen and (max-width: 767px) {
    .visible-md {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .hidden-md {
        display: none !important;
    }

    .visible-md {
        display: block;
    }

    .sidebar {
        width: 200px;
    }

    .website-sections li {
        text-align: left;
    }

    .bottom-sidebar {
        text-align: left;
    }

    .main-page {
        width: calc(100% - 200px);
    }
}

@media screen and (min-width: 992px) {
    .visible-lg {
        display: block;
    }

    .hidden-lg {
        display:none;
    }

    .container {
        max-width: 992px;
        margin: auto;

    }

    .content .artists-list-container {
        justify-content: flex-start;
    }
}
